{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 offset-md-4 loginBlock m-2 p-3 form-style">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h2 class="loginTitle mb-3 text-center">Connexion</h2>
                    <label for="inputEmail" class="d-none">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control mb-2"
                           required
                           placeholder="Adresse email">
                    <label for="inputPassword" class="d-none">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           required
                           placeholder="Mot de passe">

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-primary btn-block mt-3" type="submit">
                        Se connecter
                    </button>
                    <a href="{{ path('app_register') }}" class="btn btn-success btn-block mt-3">
                        Créer un compte
                    </a>
                </form>
                <div class="accordion" id="accordionLogin">
                    <div id="headingLogin">
                        <h2 class="mt-2">
                            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                                    data-target="#collapseLogin" aria-expanded="true" aria-controls="collapseLogin">
                                Pourquoi créer un compte ?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseLogin" class="collapse" aria-labelledby="headingLogin"
                         data-parent="#accordionLogin">
                        <div class="collapse-body p-2">
                            <h6>Général :</h6>
                            <ul>
                                <li>Ajoutez jusqu'à 5 images par annonces</li>
                                <li>Visibilité des annonces plus longue</li>
                                <li>Accès à la <em class="bnds">Bends</em> <em class="cmnty">community</em></li>
                            </ul>
                            <h6>Espace membre :</h6>
                            <ul>
                                <li>Gérer mon profil</li>
                                <li>Historique des recherches</li>
                                <li>Annonces favorites</li>
                                <li>Messages directs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
