{% extends 'layout.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div id="login" class="col col-md-4 offset-md-4 loginBlock m-2 p-3 form-style">
				<h2 class="loginTitle mb-3 text-center">Réinitialisation du mot de passe</h2>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-success btn-block mt-3">
					Valider
				</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
