{% extends 'layout.html.twig' %}

{% block title %}Bends{% endblock %}

{% block body %}
    <div class="row homeSection w-100 h-100 p-3 m-0">
        <div class="row homeCardOne cursorPointer mx-auto my-2" onclick="window.location.href='/offers/new'">
            <h2 class="text-white text-center m-auto">Faire un don</h2>
        </div>
        <div class="row homeCardTwo cursorPointer mx-auto my-2" onclick="window.location.href='/offers'">
            <h2 class="text-white text-center m-auto">Consulter les annonces</h2>
        </div>
        <div class="row homeCardThree cursorPointer mx-auto my-2">
            <h2 class="text-white text-center m-auto">Espace associations</h2>
        </div>
    </div>

{% endblock %}
