{% extends 'layout.html.twig' %}

{% block ads %}{% endblock %}

{% block title %}Bends | La communauté solidaire{% endblock %}

{% block body %}
    <div class="row homeSection h-100 p-3 m-0">
        <div class="row homeCardOne shiny-btn cursorPointer mx-auto my-2" onclick="window.location.href='/app/offers/new'">
            <h2 class="text-white text-center m-auto">Faire un don</h2>
        </div>
        <div class="row homeCardTwo shiny-btn cursorPointer mx-auto my-2" onclick="window.location.href='/app/offers'">
            <h2 class="text-white text-center m-auto">Consulter les annonces</h2>
        </div>
        <div class="row homeCardThree shiny-btn cursorPointer mx-auto my-2" onclick="window.location.href='/app/associations'">
            <h2 class="text-white text-center m-auto">Espace associations</h2>
        </div>
    </div>
{% endblock %}
