{% extends 'base.html.twig' %}

{% block title %}Bends | La communauté solidaire
{% endblock %}

{% block body %}
	<div class="landing-title pl-3 pt-5">
		<h1>Bends</h1>
		<h2 class="cmnty">La communauté solidaire</h2>
	</div>
	<div class="landing-presentation p-5">
		<h3 class="cmnty text-center">Qui sommes-nous ?</h3>
		<p class="text-justify">Notre mission est la mise en relation entre partculiers, professionnels et associations autour du don d'objets et services bénévoles.</p>
		<p class="text-justify">Dans un monde ou l'économie sociale et solidaire, le développement durable ainsi que l'environnement prennet plus de place, nous proposons cette plateforme totalement <strong>gratuite</strong> permettant à tous de pouvoir s'entraider tout en recyclant dans le partage.</p>
        <p class="text-justify">Ayez le bon reflexle en <strong>donnant vos objets</strong> et en <strong>proposant vos sérvices bénévoles</strong> près de chez vous.</p>
    </div>
{% endblock %}
