{% extends 'base.html.twig' %}

{% block title %}Bends | La communauté solidaire
{% endblock %}

{% block body %}
	<div class="landing-title">
		<div class="d-flex justify-content-between landing-nav-zone">
			<div></div>
			<nav class="landing-nav d-flex justify-content-center my-0">
				<a href="">Qui sommes-nous?</a>
				<a href="">Éspace associations</a>
				<a href="">Actualités</a>
				<a href="">Contact</a>
			</nav>
			<a href="" class="landing-register mx-3">
				<p class="px-2">S'inscrire</p>
			</a>
		</div>
		<h1>Bends</h1>
		<h2 class="cmnty">La communauté solidaire</h2>
		<div class="row landing-list w-100 mx-0">
			<div class="col-12 col-md-6">
				<ul>
					<li>
						<p>
							<i class="fas fa-plus"></i>
							Déposez vos annonces</p>
					</li>
					<li>
						<p>
							<i class="fas fa-building"></i>
							Créez vôtre page association</p>
					</li>
					<li>
						<p>
							<i class="fas fa-users"></i>
							Rejoingez la communeauté !</p>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-6 text-center p-4">
				<div class="landing-btn-box">
					<a href="#" class="btn btn-white btn-animate">Ouvrir l'application</a>
				</div>
			</div>
		</div>

	</div>
	<div class="landing-presentation p-5">
		<h3 class="cmnty text-center mb-3">Qui sommes-nous ?</h3>
		<p class="text-justify">Notre mission? La mise en relation entre partculiers, professionnels et associations autour du don d'objets et services bénévoles.</p>
		<p class="text-justify">Dans un monde ou l'économie sociale et solidaire, le développement durable ainsi que l'environnement prennent plus de place, nous proposons cette plateforme totalement
			<strong>gratuite</strong>
			permettant à tous de pouvoir s'entraider tout en recyclant dans le partage.</p>
		<p class="text-justify">Ayez le bon reflexle en
			<strong>donnant vos objets</strong>
			et en
			<strong>proposant vos sérvices bénévoles</strong>
			près de chez vous.</p>
	</div>
	<div class="row w-100 m-0 bg-dark p-5 landing-cards justify-content-center">
		<div class="col">
			<div class="card text-center">
				<div class="card-header landing-card-one"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-plus"></i>
					</div>
					Déposez vos annonces
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header landing-card-two"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-building"></i>
					</div>
					Créez vôtre page association
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header landing-card-three"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-users"></i>
					</div>
					Rejoingez la communeauté !
				</div>
			</div>
		</div>
	</div>
{% endblock %}
