{% extends 'base.html.twig' %}

{% block title %}Bends | La communauté solidaire
{% endblock %}

{% block body %}
	<div class="landing-title">
		<div class="d-flex justify-content-between landing-nav-zone">
			<div></div>
			<nav class="landing-nav d-flex justify-content-center my-0">
				<a href="">Qui sommes-nous?</a>
				<a href="">Éspace associations</a>
				<a href="">Actualités</a>
				<a href="">Contact</a>
			</nav>
			<a href="" class="landing-register mx-3">
				<p class="px-2">S'inscrire</p>
			</a>
		</div>
		<h1>Bends</h1>
		<h2 class="cmnty">La communauté solidaire</h2>
		<div class="row landing-list w-100 mx-0">
			<div class="col-12 col-md-6">
				<ul>
					<li class="li1">
						<p>
							<i class="fas fa-plus"></i>
							Déposez vos annonces</p>
					</li>
					<li class="li2">
						<p>
							<i class="fas fa-building"></i>
							Créez votre page association</p>
					</li>
					<li class="li3">
						<p>
							<i class="fas fa-users"></i>
							Rejoingez la communauté !</p>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-6 text-center p-4">
				<div class="landing-btn-box">
					<a href="#" class="btn btn-white btn-animate">Ouvrir l'application</a>
				</div>
			</div>
		</div>

	</div>
	<div class="landing-presentation p-5">
		<h3 class="cmnty text-center mb-3">Qui sommes-nous ?</h3>
		<p class="text-justify">Notre mission? La mise en relation entre partculiers, professionnels et associations autour du don d'objets et services bénévoles.</p>
		<p class="text-justify">Dans un monde ou l'économie sociale et solidaire, le développement durable ainsi que le bien pour l'environnement prennent plus de place, nous proposons cette plateforme totalement
			<strong>gratuite</strong>
			permettant à tous de pouvoir s'entraider tout en recyclant dans le partage.</p>
		<p class="text-justify">Ayez le bon reflexle en
			<strong>donnant vos objets</strong>
			et en
			<strong>proposant vos sérvices bénévoles</strong>
			près de chez vous.</p>
	</div>
	<div class="row w-100 m-0 bg-dark p-5 landing-cards justify-content-center">
		<div class="col m-2">
			<div class="card text-center h-100">
				<div class="card-header landing-card-one"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-plus"></i>
					</div>
					<p>Déposez et consultez les annonces proches de chez vous</p>
				</div>
			</div>
		</div>
		<div class="col m-2">
			<div class="card text-center h-100">
				<div class="card-header landing-card-two"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-building"></i>
					</div>
					<p>Créez votre page association pour plus de visibilité</p>
				</div>
			</div>
		</div>
		<div class="col m-2">
			<div class="card text-center h-100">
				<div class="card-header landing-card-three"></div>
				<div class="card-body">
					<div>
						<i class="fas fa-users"></i>
					</div>
					<p>Rejoingez la communauté
						<em class="bnds">Bends</em>
						et devenez acteur d'une économie sociale et solidaire !</p>
				</div>
			</div>
		</div>
	</div>
	<div class="landing-asso p-5">
		<div class="landing-white-block p-3">
			<h3 class="cmnty text-center mb-3">Éspace associations</h3>
			<p class="text-justify mb-2 p-3">Besoin de bénévoles aux quotidien ou pour un évenement? De matériel en particulier ? L'éspace permet aux associations de proposer leurs offres ainsi que leurs demandes afin d'avoir des retours plus proches de leurs attentes.</p>
			<div class="row h-100 w-100 m-0">
				<div class="col asso-block-list p-4 my-auto">
					<p>
						<i class="fas fa-laptop"></i>
						Ajoutez et présentez votre association pour booster votre visibilité.</p>
					<p>
						<i class="fas fa-at"></i>
						Renseignez vos liens vers votre site internet et/ou vos réseaux sociaux.</p>
					<p>
						<i class="fas fa-plus"></i>
						Déposez les offres et demandes de vôtre association.</p>
				</div>
				<div class="col text-center">
					<img src="{{ asset('build/images/laptop-asso.png') }}" alt="image" class="asso-block-img">
				</div>
			</div>
		</div>
	</div>
	<div class="row landing-cmt w-100 m-0 bg-white p-5">
		<div class="col-12 col-md-6">
			<i class="fas fa-quote-left landing-quote"></i>
			<p class="text-center">
				<em>Gratuit, une prise en main simple et adaptée à tous.</em>
			</p>
		</div>
		<div class="col-12 col-md-6 text-center">
			<img src="{{ asset('build/images/avatar-cmt.png') }}" alt="image" class="comment-img rounded-circle my-3">
			<p class="text-muted">Caroline, utilisatrice</p>
		</div>
	</div>
	<div class="landing-actu p-5">
		<div class="landing-white-block p-3">
			<h3 class="cmnty text-center mb-3">Actualités</h3>
			<div class="row w-100 m-0">
				<div class="col-12 col-md-6 text-center title-bordered p-3">
					<p class="landing-actu-title my-4">
						<em class="bnds">Bends</em>
						<em class="cmnty">actuality</em>
					</p>
					<p>Retrouvez toute l'actualité de la communauté et de nombreux articles au quotidien.</p>
				</div>
				<div class="col-12 col-md-6 text-center">
					<img src="{{ asset('build/images/gui-2457113_1280.png') }}" alt="image" class="actu-img rounded-circle my-3">
				</div>
			</div>
			<div class="text-center mt-3">
				<a href="" class="actu-btn">Découvrir</a>
			</div>
		</div>
	</div>
	<div class="landing-mobile">
		<div class="row h-100 w-100 m-0 p-5">
			<div class="col-12 col-md-6 text-center p-3 my-auto">
				<div class="landing-mobile-text p-3">
					<p class="cmnty landing-mobile-title">
						Avec vous partout
					</p>
					<p>Disponible sur tous vos écrans à tout moment.</p>
				</div>
			</div>
			<div class="col-12 col-md-6 text-center">
				<img src="{{ asset('build/images/mobile.png') }}" alt="image" class="landing-mobile-img my-3">
			</div>
		</div>
	</div>
{% endblock %}
