
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/assets/static/images/actualities/
/assets/static/images/associations/
/assets/static/images/messages/
/assets/static/images/offers/
/assets/static/images/profil/
/assets/static/images/qrCodes/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/bends/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
