{% extends 'layout.html.twig' %}

{% block ads %}{% endblock %}

{% block title %}Conditions générales d'utilisation
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div class="col-12 col-md-4 col-lg-8 offset-md-4 loginBlock m-2 p-3">
				<h2 class="loginTitle text-center mb-3">Conditions générales d'utilisation</h2>
			</div>
		</div>
		{% include '/footer.html.twig' %}
	</div>
{% endblock %}
