{% extends 'layout.html.twig' %}

{% block ads %}{% endblock %}

{% block title %}Conditions générales d'utilisation
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div class="col-12 col-md-4 col-lg-8 offset-md-4 loginBlock m-2 p-3">
				<h2 class="loginTitle text-center mb-3">Conditions générales d'utilisation</h2>
				<h4>1. Définitions</h4>
				<p>
					<strong>utilisateur :</strong>
					désigne toute personne navigant sur le site ou utilisant un des services proposés par le site<br/>
					<strong>Membre :</strong>
					désigne toute personne possédant un compte sur le site<br/>
					<strong>Donneur :</strong>
					membre qui dépose des annonces sur le site, qui donne ses biens<br/>
					<strong>Preneur :</strong>
					membre qui sollicite des dons en contactant le donneur<br/>
				</p>
				<h4>2. Objet</h4>
				<p>Les présentes « Conditions Générales d'Utilisation » ont pour objet l'encadrement juridique des modalités de mise à disposition des services de bends-community.fr et leur utilisation.</p>
				<h5>2.1 Services proposés par bends-community.fr</h5>
				<p>
					bends-community.fr est un site de petites annonces de dons d'objets, de services bénévoles et de dons alimentaires. Ceux-ci sont disponibles sur le site et proposés par les membres inscrits qui souhaitent les donner gratuitement.<br/><br/>
					Les personnes intéressées (les preneurs) peuvent effectuer des recherches sur le site, et solliciter des donneurs. Tous les objets, services et produits alimentaires doivent être cédés gratuitement.
				</p>
				<h5>2.2 Annonces publicitaires et promotionnelles</h5>
				<p>
					bends-community.fr se réserve le droit exclusif d'insérer sur toute page et dans toute communication aux utilisateurs, des messages publicitaires ou promotionnels sous la forme et les conditions qu’il jugera appropriées.</p>
				<h5>2.3 Gratuité du service</h5>
				<p>La navigation et l’ouverture d’un compte sur
					bends-community.fr sont totalement gratuites. A aucun moment il ne vous sera demandé de payer pour cette utilisation.<br/><br/>
					Si quelqu'un venait à vous demander de l'argent au nom de bends-community.fr, nous vous remercions de nous le signaler immédiatement.
				</p>
				<h5>2.4 Acceptation des CGU (Conditions Générales d'Utilisation)</h5>
				<p>
					<strong>En s'inscrivant sur bends-community.fr, l'utilisateur confirme avoir lu et accepté les conditions générales d'utilisation, en cochant une case dans le formulaire d'inscription.<br/><br/>
						Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Cette acceptation ne peut être que pleine et entière. Dans le cas contraire, l'utilisateur s'engage à ne pas utiliser ou visiter ce site.</strong>
				</p>
				<h4>3. Accès aux services</h4>
				<h5>3.1 Création d'un compte</h5>
				<p>
					Pour utiliser le service, afin d'être identifié sur le site, l'utilisateur doit créer un compte.<br/><br/>
					<strong>Sont nécessaires :</strong>
					son nom, prénom, adresse email, sexe, un pseudo ainsi qu'un mot de passe.<br/><br/>
					<strong>L'utilisateur garantit</strong>
					que toutes les informations qu'il donne dans le formulaire d'inscription sont exactes et
					<strong>il s'engage à</strong>
					:
				</p>
				<ul>
					<li>
						<p>mettre à jour ses informations en cas de modification(s) de celles-ci</p>
					</li>
					<li>
						<p>Ne créer qu'un seul compte</p>
					</li>
					<li>
						<p>Ne pas partager son compte avec une ou plusieurs personnes</p>
					</li>
					<li>
						<p>Ne pas publier de pseudo ou photo à caractère sexuel, provoquant ou non approprié</p>
					</li>
					<li>
						<p>Ne pas utiliser une adresse email ou un numéro de téléphone comme pseudo</p>
					</li>
				</ul>
				<p>
					bends-community.fr ne garantit pas la continuité de service pour les utilisateurs de VPN, Proxy et d’adresses mails jetables / temporaires.</p>
				<h5>3.2 Désinscription du site et suppression de compte</h5>
				<p>
					Le membre peut se désinscrire des services à tout moment, en se rendant dans son compte puis en cliquant sur “supprimer mon compte”. la suppression du compte sera définitive et irrévocable.
				</p>
				<h4>4. Règles d'utilisation du service</h4>
				<h5>4.1 Publications par l’utilisateur</h5>
				<p>
					Les membres de ce site sont responsables des messages qu'ils envoient, du contenu de leur profil, des annonces et photos qu'ils publient ou de toutes autres informations qu'ils décident de transmettre à partir du site ou en dehors du site.<br/><br/>
					Lors de la création d'un compte ou d'une annonce, le membre a la possibilité d'insérer des photos. Certaines règles devront être respectées. En publiant une photo sur le site bends-community.fr, le membre s'engage à ne pas publier de photos :
				</p>
				<ul>
					<li>
						<p>Qui ne proviendraient pas de lui-même</p>
					</li>
					<li>
						<p>Pour lesquelles il n'a pas de droit d'auteur ou d'utilisation. Par exemple: des dessins animés, des célébrités, des photos tirées d'un magazine ou d'internet en général</p>
					</li>
					<li>
						<p>Exposant de la nudité, ou tout contenu à caractère sexuel, exhibitionniste, provocateur, indécent, obscène ou inapproprié</p>
					</li>
					<li>
						<p>Affichant l'adresse d'un autre site web, d'une personne, d’un email, le nom d'une société, un numéro de téléphone, adresse ou autres informations personnelles</p>
					</li>
					<li>
						<p>Affichant des armes ou tout contenu relatif à de la violence</p>
					</li>
				</ul>
				<p>
					bends-community.fr se réserve le droit d'effacer, sans préavis, toute photo qui lui semble inappropriée.</p>
				<h5>4.2 Publication d’annonces et de messages</h5>
				<p>En utilisant les services de bends-community.fr, le membre s'engage à respecter les règles de conduite suivantes :</p>
				<ul>
					<li>
						<p>Ne pas communiquer les informations que vous recevez des autres membres</p>
					</li>
					<li>
						<p>Ne pas communiquer d'informations diffamatoires ou qui peuvent d'une manière ou d'une autre porter atteinte à la réputation d'un individu, que ce soit sur internet ou en dehors</p>
					</li>
					<li>
						<p>Ne pas être grossier, tenir des propos racistes ou discriminatoires, harceler les autres membres, les menacer, les moquer ou les insulter</p>
					</li>
					<li>
						<p>Ne pas solliciter des membres afin de les diriger vers un site similaire à bends-community.fr
							ou pour une quelconque raison commerciale</p>
					</li>
					<li>
						<p>Ne pas publier d'informations fausses ou trompeuses ou présentant des activités illégales</p>
					</li>
					<li>
						<p>Ne pas publier d'annonces en double ou similaires à un don qu’il a précédemment publié</p>
					</li>
					<li>
						<p>Ne pas usurper l'identité d'un autre utilisateur ou personne</p>
					</li>
				</ul>
				<h5>4.3 Dons interdits</h5>
				<p>En utilisant les services de bends-community.fr, le membre s'engage à respecter la liste des dons interdits suivante :</p>
				<ul>
					<li>
						<p>Les produits alimentaires entamés</p>
					</li>
					<li>
						<p>Les boissons alcoolisées</p>
					</li>
					<li>
						<p>Les produits qui se conservent au frais ou qui sont surgelés : produits laitiers, viande, poisson, oeufs, yaourts, crèmes desserts,…</p>
					</li>
					<li>
						<p>Les produits emballés sans DLC (Date Limite de Consommation) indiquée</p>
					</li>
					<li>
						<p>Les produits dont la DLC est dépassée</p>
					</li>
					<li>
						<p>Les produits dont l’emballage est détérioré ou perforé : boite de conserve bombée, couleur anormale, paquet qui n’est plus sous vide,...</p>
					</li>
					<li>
						<p>Même s’ils sont certainement très bon ! Les produits cuisinés par le donneur (confitures, plats cuisinés, pâtisserie,…)</p>
					</li>
					<li>
						<p>Les produits dont l’aspect ne permet pas la publication sur le site.</p>
					</li>
					<li>
						<p>Les animaux vivants</p>
					</li>
					<li>
						<p>Les pièges à animaux.</p>
					</li>
					<li>
						<p>Les parties animales d'espèces protégées (ivoire, os d'animaux producteurs d'ivoire, défenses de mammouths, écailles de tortues, fourrures d'animaux d'espèces protégées ou domestiques)</p>
					</li>
					<li>
						<p>Les armes à feu, de poing, à air comprimé, explosifs, couteaux, munitions, ...</p>
					</li>
					<li>
						<p>Les réductions commerciales pour tout type d’achat</p>
					</li>
					<li>
						<p>Les réductions partielles sur des billets de sorties (place enfant offerte si adulte payant)</p>
					</li>
					<li>
						<p>Les vignettes commerciales : vignettes offertes par les grandes surfaces permettant la réduction sur l'achat d'un produit.</p>
					</li>
					<li>
						<p>Certains cosmétiques entamés pour des questions d'hygiène, tels que les rouges à lèvres, dentifrices, ....</p>
					</li>
					<li>
						<p>Les copies de livres physiques ou numériques</p>
					</li>
					<li>
						<p>Les copies de jeux vidéos, films et musiques</p>
					</li>
					<li>
						<p>Tous vêtements, insignes, véhicules, documents permettant l'usurpation de signes réservés à l'autorité publique.</p>
					</li>
					<li>
						<p>Les médicaments et produits pharmaceutiques délivrés avec ou sans ordonnance</p>
					</li>
					<li>
						<p>Objets retirés du marché à l'initiative du fabricant ou d'un organisme public.</p>
					</li>
					<li>
						<p>Objets à caractère sexuel et érotique réservés aux adultes et destinés aux personnes de plus de 18 ans (revues, livres, DVD X, vêtements, sex toys, accessoires érotiques, jeux et autres objets pour adultes).</p>
					</li>
					<li>
						<p>Produits et matériaux considérés comme dangereux, voire interdits par les organismes publics de santé et de sécurité (matériaux radioactifs, amiante, produits mal conditionnés, ...).</p>
					</li>
					<li>
						<p>Les produits liés au tabac ainsi qu’à la cigarette électronique et leurs accessoires</p>
					</li>
					<li>
						<p>Véhicules sans carte grise (voitures, caravanes, remorques, deux roues motorisées, ...).</p>
					</li>
				</ul>
				<h5>4.4 Responsabilité du donneur</h5>
				<p>
					Le donneur, en publiant une annonce, est responsable du don qu’il cède au preneur.<br/><br/>
					Concernant les dons alimentaires, le donneur s’engage à ne pas donner si les dons ne respectent pas les règles définies par le site (voir la liste des dons interdits).<br/><br/>
					Le site de la
					<a href="https://www.economie.gouv.fr/dgccrf/securite/avis-rappels-produits" target="_blank">DGCCRF</a>
					permet au donneur d’être informé des produits retirés du marché.<br/><br/>
					Le donneur garantit de ne pas donner d’objet dangereux ou de don alimentaire dont la DLC (Date Limite de Consommation) est dépassée. Il garantit de bonnes conditions de stockage et de transport.
				</p>
				<h5>4.5 Responsabilité du preneur</h5>
				<p>Si un don vous semble suspect, ne prenez pas de risque en le mangeant et n'hésitez pas à nous le signaler.</p>
				<h5>4.6 Associations</h5>
				<p>
					bends-community.fr vous conseille fortement de vous renseigner sur les associations présentes sur le site.<br/><br/>
					En cas de doute sur lune d'elles, vous pouvez consulter le
					<a href="https://www.journal-officiel.gouv.fr/associations/recherche/" target="_blank">site du journal officiel</a>
					pour plus d'informations.
				</p>
				<h4>5. Propriété intellectuelle</h4>
				<h5>5.1 Protection du contenu du site bends-community.fr</h5>
				<p>
					Toute reproduction ou représentation, intégrale ou partielle, effectuée sans le consentement de bends-community.fr, est illicite et constitue une contrefaçon pouvant être sanctionnée pénalement.<br/><br/>
					Les internautes n'ont pas le droit d'utiliser les services et contenus de bends-community.fr dans les buts suivants :
				</p>
				<ul>
					<li>
						<p>Promouvoir leurs activités</p>
					</li>
					<li>
						<p>Récolter des informations privées des membres</p>
					</li>
					<li>
						<p>Solliciter les membres pour des raisons autres que celles en rapport avec le don</p>
					</li>
					<li>
						<p>Copier ou aspirer le site</p>
					</li>
				</ul>
				<p>Les auteurs du contenu rédactionnel restent propriétaires desdits textes.</p>
				<h4>6. Fraude et abus</h4>
				<p>Le non-respect de l'une ou l'autre des règles peut entraîner :</p>
				<ul>
					<li>
						<p>La suppression définitive de votre compte</p>
					</li>
					<li>
						<p>Le blocage de tout ou partie de votre compte</p>
					</li>
				</ul>
				<p>
					Toute fraude ou manquement grave engendrera une suppression définitive de son compte.<br/><br/>
					bends-community.fr se réserve le droit, sans préavis ni justification, de :
				</p>
				<ul>
					<li>
						<p>Supprimer tout profil qui lui semble inapproprié</p>
					</li>
					<li>
						<p>Ignorer toute demande de réactivation de compte, qu’il soit supprimé ou non</p>
					</li>
					<li>
						<p>Supprimer des annonces si celles-ci ne correspondent pas aux règles de publication</p>
					</li>
				</ul>
				<p>
					Un bouton vous permettra de déclarer qu'un membre ne respecte pas l'une ou l'autre des règles. Ainsi l'équipe de modération pourra intervenir et vérifier les informations.<br/><br/>
					N'hésitez pas à nous contacter et à signaler tout abus ou dysfonctionnement.
				</p>
				<h4>7. Responsabilité de bends-community.fr</h4>
				<p>
					Les annonces de dons figurant sur bends-community.fr sont contrôlées manuellement avant d'être publiées.<br/><br/>
					Toutefois, il se peut que des internautes peu scrupuleux essaient de proposer des dons afin d'obtenir vos coordonnées ou essaient de vous contacter pour réaliser une vente. Toute l'équipe de bends-community.fr est présente pour aider l'utilisateur et le conseiller.
				</p>
				<h5>7.1 Modération du site et de ses annonces</h5>
				<p>
					Les annonces de dons figurant sur bends-community.fr sont contrôlées manuellement ou par un système automatisé avant d'être publiées. bends-community.fr ne peut pas filtrer et contrôler tout le contenu avant qu'il soit publié. En conséquence, bends-community.fr ne peut pas garantir que tous les membres vont respecter les conditions d'utilisation du site. Le site exerce aussi une modération a posteriori sur certaines des publications et se réserve le droit de stopper leurs mises en ligne, sans avoir à s'en justifier auprès du membre.
				</p>
				<h5>7.2 Limite de responsabilité</h5>
				<p>
					bends-community.fr n'offre aucune garantie de service. Nous ne garantissons pas que le site sera fonctionnel ou accessible à tout moment, qu'il ne comportera pas de bug, qu'il n'y aura pas de panne de serveur, défaillance du réseau, ralentissement, problème de messagerie ou tout autre problème indépendant de notre volonté.<br/><br/>
					Exception faite des données légales, bends-community.fr ne sera pas tenu responsable si le site devient hors d'usage, si des messages privés sont perdus, si un membre quitte le site ou est supprimé pour une quelconque raison.<br/><br/>
					bends-community.fr reçoit un nombre important de mails. Dans le cadre de corrections à apporter ou d’une demande de modération (signalement, bug,...), les administrateurs mettront tout en œuvre pour en effectuer le traitement, mais ils ne peuvent pas garantir qu’une réponse écrite pourra systématiquement être donnée.
				</p>
				<h5>7.3 Etat des dons</h5>
				<p>
					La responsabilité de bends-community.fr ne pourra pas être engagée si le don s'avère inutilisable, défaillant, abîmé ou dangereux.<br/><br/>
					L’équipe de modération du site a le pouvoir de refuser un don si son aspect ou son état nuit au contenu du site.
				</p>
				<h4>8. Suppression et délai de conservation des données personnelles</h4>
				<p>
					Un système automatisé du site supprime les comptes après 2 ans d’inactivité. Si vous ne vous êtes pas authentifié sur le site durant deux ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront supprimées de nos bases de données.
				</p>
				<h4>9. Évolution et durée du contrat</h4>
				<p>
					<strong>bends-community.fr se réserve la possibilité, à tout moment, de modifier tout ou partie des présentes conditions générales d'utilisation (CGU).<br/><br/>
						Les utilisateurs du site sont invités à les consulter régulièrement afin de prendre connaissance des changements apportés.
					</strong>
				</p>
				<h4>10. Droit applicable et juridiction compétente</h4>
				<p>
					En cas de litige ou de réclamation émanant de l'internaute, de bends-community.fr ou d'un tiers et relatifs à l'utilisation du service, seule la version des CGU présentes au moment de l’événement aura force obligatoire entre les parties.<br/><br/>
					La législation française s'applique au présent contrat. Les membres acceptent que tout litige soit réglé devant la justice française. En cas d'absence de résolution amiable d'un litige né entre les parties, Le tribunal compétent est celui d'Orléans.
				</p>
			</div>
		</div>
		{% include '/footer.html.twig' %}
	</div>
{% endblock %}
