{% apply inline_css %}
<style>
	.banner {
		background: rgb(255, 255, 255);
		background: linear-gradient(130deg, rgba(255,255,255,1) 50%, rgba(96,125,139,1) 100%);
	}
</style>

<div class="banner p-2">
	<img src="{{ email.image('@images/bends_email_title.png') }}" alt="Logo">
	<p class="text-muted m-0">contact@bends.fr</p>
	<p class="text-muted m-0">(+33) 7 55 44 78 89</p>
</div>
{% endapply %}
