.adminSection {
    padding-top: 100px !important;
}

.admin-content {
    padding-bottom: 70px !important;
}

.admin-menu-links {
    width: 15%;
    a {
        display: block;
        padding: 20px 10px;
        &:hover {
            background-color: darken($color: lightgrey, $amount: 50);
        }
    }
    p {
        color: lightgrey;
        margin: 0;
        &:hover {
            color: white;
        }
    }
}

.admin-indicators {
    .admin-number {
        border: 1px solid $violet;
        border-radius: 5px;
        text-align: center;
    }
    b {
        font-size: 30px;
    }
}

.chartZone {
    border: 1px solid $violet;
    border-radius: 5px;
    canvas {
        max-height: 250px;
    }
}