.homeAssoCardOne {
    background-image: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), url("../static/images/startup-594090_1920.jpg");
    border-radius: 10px;
    width: 90%;
    h2 {
        font-family: 'Oswald', sans-serif;
    }
}

.homeAssoCardTwo {
    background-image: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), url("../static/images/team-4529717_1920.jpg");
    border-radius: 10px;
    width: 90%;
    h2 {
        font-family: 'Oswald', sans-serif;
    }
}

.homeAssoCardThree {
    background-image: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), url("../static/images/office-620822_1920.jpg");
    border-radius: 10px;
    width: 90%;
    h2 {
        font-family: 'Oswald', sans-serif;
    }
}