.message-card {
    box-shadow: 0px 2px 5px gray;
}

.message-offer-title {
    background-color: $violet;
    color: white;
    box-shadow: 0px 2px 5px gray;
}

.message-author {
    color: $violet;
    font-weight: bold;
}

.miniature {
    max-height: 50px;
    width: auto;
}