.message-card {
    box-shadow: 0px 2px 5px gray;
}

.message-offer-title {
    background-color: $violet;
    color: white;
    box-shadow: 0px 2px 5px gray;
}

.message-preview {
    text-overflow: ellipsis;
}

.message-author {
    color: $violet;
    font-weight: bold;
}

.miniature {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.message-user {
    font-family: Oswald, "sans-serif";
    color: $violet;
    font-size: 18px;
}

.discussion-link {
    color: black;
}

.discussion-link:hover {
    color: black;
    text-decoration: none;
}

.chat-title-bar {
    background-color: white;
    box-shadow: 0px 2px 5px gray;
}

.chat-section {
    background-color: lightgrey;
    border-style: ridge;
    height: 330px;
    overflow-y: auto;
}

.chat-section::-webkit-scrollbar {
    width: 5px;
}

.chat-section::-webkit-scrollbar-thumb {
    background-color: $violet;
    border-radius: 10px !important;
}

.chat-section::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

.chat-text-user {
    background-color: rgba(63, 81, 181, 0.8);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat-text-member {
    background-color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.file-selector {
    i {
        color: $violet;
        font-size: 40px;
    }
}

.image-sent {
    max-width: 200px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .chat-section::-webkit-scrollbar {
        display: none;
    }
}