.subtitleZone {
  background-color: $violet;
  box-shadow: -1px 5px 5px -4px gray;
}

.filtersZone {
  background-color: $violet;
  box-shadow: -1px 5px 5px -4px gray;
}

.position-icon {
  font-size: 50px;
  color: $violet;
}

.input-photo {
  max-height: 200px;
  max-width: 300px;
}

.img-offers {
  padding: 10px;
  border: 1px dashed $violet;
  border-radius: 5px;
}

.offer-card {
  border: none;
  box-shadow: 2px 2px 20px darkgrey;
}

.offer-link:hover {
  text-decoration: none;
}

.card-image {
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px !important;
}

.card-title {
  font-family: 'Oswald', sans-serif;
  color: $violet;
}

.image-card {
  max-width: 150px;
  max-height: 150px;
}

.card-badge {
  box-shadow: -1px 5px 5px -4px gray;
}

@media screen and (max-width: 667px) {
  .card {
    width: 240px;
  }
}
