.profil-card {
    .card-header {
        min-height: 150px;
        background-image: url("/build/images/agapanthus-1465146_640.40d69ad8.jpg");
        background-size: cover;
        background-position-y: 47%;
    }
    min-width: 300px;
}

.profilImage {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.profil-info em {
    font-family: 'Oswald', 'sans-serif';
    color: $blue;
    font-style: normal;
}

.bloc-association {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px gray;
}