$blue: #607d8b;
$violet: #3f51b5;
$darkGreen: #212b30;
$primary: #4299e1;
$darkPrimary: #2b6cb0;
$success: #48bb78;
$darkSuccess: #2f855a;
$secondary: #a0aec0;
$darkSecondary: #4a5568;
$warning: #ecc94b;
$darkWarning: #b7791f;
$danger: #f56565;
$darkDanger: #c53030;