{% extends 'layout.html.twig' %}

{% block title %}Associations
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div class="col col-md-4 col-lg-10 loginBlock h-100 p-2">
				<h1 class="h2 loginTitle mb-3 text-center">Associations</h2>
				{# {% include 'offers/_partials/search.html.twig' %} #}
				<div class="row justify-content-around p-3 w-100 m-0">
					{% for association in associations %}
						{% include 'associations/_partials/association.html.twig' %}
                        {% include 'associations/_partials/association.html.twig' %}
                        {% include 'associations/_partials/association.html.twig' %}
                        {% include 'associations/_partials/association.html.twig' %}
                        {% include 'associations/_partials/association.html.twig' %}
                        {% include 'associations/_partials/association.html.twig' %}
					{% else %}
						<div class="col-12">
							<p class="alert alert-primary">
								Aucune association disponible. Déposez la votre
								<a href="{{ path('associations_new') }}">ici</a>.
							</p>
						</div>
					{% endfor %}
					<div class="col-12 mt-2 d-flex justify-content-center">
						<div>
							{{ knp_pagination_render(associations) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		document.getElementById("body").classList.add('homeAssociations');
	</script>
{% endblock %}
