<p>Bonjour,</p>

<br/>

<p>{{ message }}</p>

<br/>

<p>Pour toute information, n'hésitez pas à contacter notre équipe.</p>

<br/>

<p>
	À très bientôt sur
	<a href="{{ url('land') }}" target="_blank">notre site</a>.
</p>

<br/>

<p>L'équipe Bends !</p>

<br/>

{% include 'emails/_partials/footerEmail.html.twig' %}