{% apply inline_css %}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

	.bnds {
		font-family: 'Pacifico', 'cursive';
		color: #3f51b5;
		font-style: normal;
	}
</style>

<div class="p-2" style="background: rgb(255,255,255);background: linear-gradient(130deg, rgba(255,255,255,1) 50%, rgba(96,125,139,1) 100%);">
	<h3 class="bnds">Bends</h3>
	<p class="text-muted m-0">contact@bends.fr</p>
	<p class="text-muted m-0">+33755447889</p>
</div>
{% endapply %}
