<p>Bonjour
	{{ userFirstname }},</p>

<br/>

<p>Vous avez reçu un nouveau message. Pour le consulter veuillez vous rendre sur votre compte.</p>

<br/>

<p>L'équipe Bends !</p>

<br/>

{% include 'emails/_partials/footerEmail.html.twig' %}