<p>Bonjour
	{{ userFirstname }},</p>

<br/>

<p>Votre inscription sur notre site a bien été prise en compte. Pour terminer l'inscription, veuillez comfirmer la création de votre compte en cliquant sur le lien suivant:</p>

<br/>

<p>
	<a href="{{ url('active_account', {'token': token}) }}">Valider mon inscription</a>
</p>

<br/>

{% include 'emails/footerEmail.html.twig' %}
