{% extends 'layout.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div class="col col-md-4 col-lg-8 offset-md-4 loginBlock m-2 p-3">
				<h2 class="loginTitle mb-3 text-center">Messages</h2>
				<div class="row justify-content-around p-3 w-100 m-0">
					{% include 'messages/_partials/actions.html.twig' %}
					{% for discussion in discussions %}
						<div class="col-12 my-2 p-2 bg-white message-card">
							<div class="d-flex">
								{% if discussion.offer.pictures is not empty %}
									<img src="{{ asset('build/images/offers/') }}{{ discussion.offer.pictures[0] }}" class="miniature" alt="miniature">
								{% else %}
									<img src="{{ asset('build/images/picture-no-image.jpg') }}" class="miniature" alt="photo">
								{% endif %}
								{{ discussion.user.pseudonym }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script>
		function selectAll() {
$("#checkAll").click(function () {
$(".check").prop('checked', $(this).prop('checked'));
});
}
	</script>
{% endblock %}
